body {

    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p {
    position: absolute;
    color: white;
}

.hide {
    display: none;
}

#pieces {
    width: 100%;
    gap: 5px;
    margin-top: 20px;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

#pieces img {
    width: 198px;
    height: 132px;
    flex-wrap: wrap;
    cursor: -webkit-grab;
    cursor: grab;
}

#pieces img:active {

    cursor: -webkit-grabbing;
    cursor: grabbing;
}


.grid-container {

    width: 400px;
    height: 400px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: grid;
    background-image: url('../imgs/background-logo.png');
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);

}

div {
    width: 200px;
    height: 133px;
}

.grid-container div {
    /* border: 1px solid gray; */
    width: 200px;
    height: 133px;
    position: relative;
}

.grid-container img {
    width: 200px;
    height: 133px;

}

.container {
    width: 400px;
    height: 400px;

}

.card {
    height: 100%;
    width: 100%;
    position: relative;
    transition: transform 1500ms;
    transform-style: preserve-3d;

}

.card1 {
    cursor: pointer;
    transform: rotateY(180deg);
}


.grid-container,
.back {
    height: 400px;
    width: 400px;
    position: absolute;
    backface-visibility: hidden;

}

.back {
    height: 520px;
    width: 437px;
    justify-content: center;
    display: flex;
    /* background-image: url('../imgs/error.svg'); */
    background-size: cover;
    transform: rotateY(180deg);

}

.main-container {
    /* border: 1px solid; */
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: inline-flex
}

.text404-container {
    text-align: right;
    color: white;
    font-size: 127px;
    font-family: Inter;
    font-weight: 600;
    letter-spacing: 3px;

}

.pageNotFound {

    text-align: right;
    color: rgba(255, 255, 255, 0.50);
    font-size: 31px;
    font-family: Inter;
    font-weight: 300;
    line-height: 49.50px;
    letter-spacing: 0.66px;
    word-wrap: break-word;
}

.content {
    width: 369px;
    text-align: center;
    color: white;
    font-size: 22px;
    font-family: Inter;
    font-weight: 300;
    line-height: 33px;
    margin-left: -83px;
    letter-spacing: 0.44px;
    margin-top: 20px;
    word-wrap: break-word;
}

.image-container {
    justify-content: center;
    display: flex;
    margin-top: 50px;
}

#pieces img.completed {
    opacity: 0.5;
}

.grid-container .goodMessage {
    position: absolute;
    width: 60px;
    height: 60px;
    bottom: 0;
    margin-left: -150px;
}

.pieceShake:hover {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }

    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }

    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }

    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }

    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }

    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }

    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }

    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }

    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }

    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}


.img-rotate {
    width: 300px;
    animation: rotation 6s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

/* 
.drag-me {
    @include grab-cursor;
    @include transition(transform .2s, box-shadow .2s);
}

.drag-me:hover {
    @include scale(1.03);
}

.drag-me:active {
    @include grabbing-cursor;
    @include scale(1.1);
} */